*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    background: rgb(238,238,174);
    background: radial-gradient(circle, rgba(238,238,174,0.48503151260504207) 0%, rgba(148,233,163,0.2413340336134454) 100%);
    padding: 20px 20px;
    
}

header > h1{   
    margin-left: 50px;
    margin-top: 30px;
}
.logo{
    margin-top: 20px;
    margin-left: 10px;
    height: 100px;
    display: flex;
    margin-right: 10px;
}


h1{
    
    margin-top: 20px;
    text-align: center;
    text-shadow: rgb(142, 221, 13) 1px 0.5px 0.5px;
    font-family: 'Oswald', sans-serif;
    font-size: 40pt;
    color: blue;
}
.flex-container{
    display: inline;
    margin-top: 30px;
    text-align: center;
    
    
}

.img1{ 
    margin-top: 20px;
    height: 380px;
    width: 380px;    
    border-radius: 5%;
    box-shadow: 5px 5px 5px 3px lightblue;
    margin-left: 20px;
    scale: 1;
}
.img2{   
    margin-top: 20px;
    height: 380px;    
    width: 380px;   
    border-radius: 5%;
    box-shadow: 10px 10px 5px lightblue;
    margin-left: 20px;
}
.img3{
    margin-top: 20px;
    height: 380px;
    width: 380px;    
    box-shadow: 10px 10px 5px lightblue;   
    border-radius: 5%;
    margin-left: 20px;
    margin-right: 20px;    
}

.img4{
    margin-top: 20px;
    height: 380px;
    width: 380px;    
    box-shadow: 10px 10px 5px lightblue;   
    border-radius: 5%;
    margin-left: 20px;
    margin-right: 20px;    
}



div > p{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 12pt;
    color: #070F26;
    text-shadow: #3F89A6 1px 1px 1px;
}

footer{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 8pt;
}


@media only screen and (max-width: 435px) {
    body {
      background-color: rgb(247, 246, 243);
    }
    h1{
        font-size: 15pt;
    }
    .flex-container{
        display: block;
    }
    .img1{
        margin-left: 15px;
    }
    .img2{
        margin-left: 15px;
    }
    .img3{
        margin-left: 15px;
    }
    p{
      margin-bottom: 10px;  
      
    }
    div > P{
        font-size: 8pt;
    }
    
    footer{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 8pt;
    }
  }